.bannerBlock{
    
    display: flex;

    width: 80vw;
    height: 250px;
    box-shadow: 10px 9px 8px rgb(211, 211, 211);
}

.bannerWrapper{
    display: flex;
    justify-content: center;
}

.randomInfoBlock{
    display: flex;
    
    width: 50%;
}



.charDetails{
    width: 60%;
}

.charImg{
    width: 180px;
    height: 180px;
    margin: 35px 30px 35px 40px
    
}

.charName{
    font-size: 24px;
    font-family: 'Roboto Condensed';
    text-transform: uppercase;
    margin: 35px 0px 14px 0px
    
}

.charDesc{
     font-family: 'Roboto Condensed';
     font-size: 14px;
     margin: 0;
     height:92px;
}

.buttonsBlock{
    margin:0;
    
    display: flex; 
   

}

.randomCTAWrapper{
    background-color: #232222;
    display: flex;
    border: 1px solid black;
     width: 50%;
}

.randomCTABlock>p{
    color: #FFFFFF;
    font-family: 'Roboto Condensed';
    font-size: 24px;
    font-weight: bold;
    width: 374px;
    margin: 35px 0px 0px 40px
}



.decorImg{
    z-index: -1;
    margin: 50px 0 00px 0px
}

