.buttonDiv{
    background-color: #9F0013;
    width: 101px;
    height: 40px;
     position: relative;
  overflow: hidden;
  clip-path: polygon(
    0 20%,
    10% 0,
    100% 0,
    100% 80%,
    90% 100%,
    0% 100%
  );
  display: flex;
  align-items: center;
  justify-content: center
  
  
}

.buttonDiv>a{
    color: #FFFFFF;
    font-family: 'Roboto Condensed';
     text-transform: uppercase;
}

.buttonWrap{
    width: 101px;
   
}

.buttonDivgrey{
    background-color: #5C5C5C;
    
}

