.charListWrap{
    
    
}

.listCharBlock{
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    row-gap: 30px;
    margin: 50px 0 0 166px;
    width: 675px;
    

}

.buttonsWrap{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 45px 0 45px 0;
}