.colorChange{
    color: #9F0013;

}

.logo-block{
    font-family: 'Roboto Condensed';font-size: 28px;
    font-weight: bold;
}

.nav-bar{
    font-family: 'Roboto Condensed';font-size: 28px; font-weight: bold;
}
header{
    display: flex;
    justify-content: center;
    gap: 610px
        /* margin: 55px 166px 0 166px; */
}